@import "../styles/colors.scss";
@import "../styles/util.scss";

.btn-add-container {
    position: fixed;
    bottom: 50px;
    right: 150px;

    display: flex;
    justify-content: flex-end;

    width: 100%;
}
