@import "../styles/colors.scss";
@import "../styles/util.scss";

.btn-default {
    display: block;

    width: 130px;
    height: 35px;

    border: 0;
    border-radius: 40px;

    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

.btn-social {
    @include place-center;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    &:visited {
        color: white;
    }

    &:hover {
        cursor: pointer;
    }
}

.btn-primary {
    background-color: #101010;
    color: white;
}

.btn-secondary {
    border: 2px solid black;

    background-color: $color-white;
    color: black;
}

.btn-orange-filled {
    background-color: $color-orange;
    color: white;
}

.btn-orange-stroke {
    border: 2px solid $color-orange;

    background-color: $color-white;
    color: $color-orange;
}
