@import "../styles/colors.scss";
@import "../styles/util.scss";

.Grid-container {
    max-width: 1024px;
    flex-wrap: wrap; /* flex 아이템을 여러 줄로 배치 */
    gap: 10px;
    justify-content: flex-start; /* 내용을 왼쪽에서부터 정렬 */
    @include place-center;
    align-items: flex-start; /* 아이템을 위에서부터 정렬 */
    padding-top: 100px;
    margin: 0 auto;
}

.Grid-item {
    display: block;
    width: 300px;
    height: 300px;
    background: #ebebeb;
    border-radius: 10px;
    transition: 0.3s ease;
    position: relative; /* 부모 요소에 대해 상대적 위치 설정 */

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 20px;
    }

    .flex {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    .text {
        position: relative;
        height: 29px;
        color: #ffffff;
        font-weight: 700;
        font-size: 20px;
        display: none; /* 기본적으로는 숨김 */
        padding-right: 10px;
    }

    .title {
        font-size: 32px;
        padding-bottom: 10px;
    }

    .active {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &:hover {
        cursor: pointer;
        background: linear-gradient(to bottom, #ebebeb, #cccccc);
    }
}
