@import "../styles/colors.scss";
@import "../styles/util.scss";

.nav-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; /* 적절한 z-index 값으로 설정하세요 */
    margin: 0 auto;
    background-color: white;
}

.nav-container {
    display: flex;
    gap: 10px;
    @include wrapper-width;
    margin: 0px auto;

    li {
        @include place-center;
        width: 120px;
        height: 80px;

        &:first-child {
            font-size: 1.8rem;
            font-weight: bold;
            padding-right: 30px;

            color: $color-orange;
            a,
            a:visited {
                color: $color-orange;
            }
        }
    }
}

.nav-aside-container {
    width: 300px;
    height: calc(100vh - 80px);

    border-right: 1px solid #b4b4b4;
}

.nav-aside-item {
    display: flex;

    width: 100%;
    height: 90px;

    .nav-aside-item__img {
        padding: 10px;
        @include place-center;
        img {
            object-fit: cover;

            width: 60px;
            height: 60px;

            border-radius: 50%;

            background-color: black;
        }
    }
    .nav-aside-item__text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 0px 10px;

        height: 100%;
    }
}
