@import "../styles/colors.scss";
@import "../styles/util.scss";

.nav-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 1000; /* 적절한 z-index 값으로 설정하세요 */
    margin: 0 auto;
    @include wrapper-width;
    // z-index: index 0;
    background-color: white;
    
}

.nav-container {
    display: flex;
    gap: 10px;
    @include wrapper-width;
    margin: 0px auto;

    li {
        @include place-center;
        width: 120px;
        height: 80px;

        &:first-child {
            font-size: 1.8rem;
            font-weight: bold;
            padding-right: 30px;

            color: $color-orange;
            a,
            a:visited {
                color: $color-orange;
            }
        }
    }
}
